{% extends "BeregIndexBundle::main_page.html.twig" %}

{% block body %}
    <div id="wrapper">
    <div id="header">
        <h1><a href="/en">Finamac</a></h1>

        <div class="r">
            <ol id="lang">
                <li><a href="/es/produtos/intermediario/maquina-sorvete-pro-16">Español</a></li>
                <li id="en"><a href="/en/produtos/intermediario/maquina-sorvete-pro-16" class="current">English</a></li>
                <li id="po"><a href="/br/produtos/intermediario/maquina-sorvete-pro-16">Português</a></li>
            </ol>
            <form id="searchform" action="/en/busca" method="get">
                <input name="palavra" type="text" value=""/> <input type="submit" value=" "/>
            </form>
        </div>
        <h3>Online chat ::</h3>

        <br class="c"/>

        {% include 'BeregIndexBundle:_Include:navigation.html.twig' %}
    </div>
    <!--/header-->
    <div id="content-820p">
    <div class="titlename top5">
        <div class="secNav">
            <a href="#" name="topo">&nbsp;</a>
        </div>
    </div>
    <div class="content">
    <div class="leftContent">
    <div class="proSlider">
        <div class="contentTab" style="border: none;">
            <div id="rotate" style="width: 530px; height: 278px; float:left; margin: 0;">
                <ul id="headPics" style="width: 530px; height: 278px;">
                    <li class="active">
                        <img src="{{ asset('/bundles/beregindex/images/contentFiles/image/galleries/produto-pro16/pro-16.jpg') }}" width="530" height="278" border="0"/>
                    </li>
                    <li>
                        <img src="{{ asset('/bundles/beregindex/images/contentFiles/image/galleries/produto-pro16/pro-16-sistema-de-raspagem-update.jpg') }}" width="530" height="278" border="0"/>
                    </li>
                    <li>
                        <img src="{{ asset('/bundles/beregindex/images/contentFiles/image/galleries/produto-pro16/pro-16-raspador-tripe.jpg') }}" width="530" height="278" border="0"/>
                    </li>
                </ul>
            </div>

            <script>
                $(document).ready(function () {
                    headPics = new customFadingSlider('#headPics', {slideSpeed:500, slideTimeout:5000, objectInstance:'headPics', paginationList:'#paginatepics'});
                });
            </script>

            <div class="desc">
                <h3>Pro 16</h3>

                <p>Artisan ice cream batch freezer</p>
            </div>
            <ul id="paginatepics"></ul>
            <br class="c"/>
        </div>
    </div>
    <!--slider-->
    <p align="right" style="line-height: 25px;" class="produtoDownloads">
        <a href="#" class="manual" rel="3">Technical File
            <img src="{{ asset('/bundles/beregindex/images/i/ico_download.png') }}" width="17" height="17" alt="Technical File" style="margin-left: 5px; margin-right: 3px; margin-bottom: 5px;" align="absmiddle"/></a><br/>
    </p>
    <ul id="tab">
        <li class="aberto"><a href="#descricao">Description</a></li>
    </ul>
    <br class="c"/>

    <div id="descricao" class="tabContent" style="display: block;">
        {% block product_description %}
            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">A semi-automated machine that produces water based ice cream (pineapple, lemon etc.) or milk based (chocolate, strawberry, vanilla etc.). </span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">This process is known as “discontinuous” or “batch” freezing.&#160; In accordance with these terms, we put a limit on the quantity of mixture used per cycle, differing from the continuous process (used in ice cream industries), in which the mixture is continuously introduced through one side, and the ice cream comes out of the other side.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">The ice cream produced by Pro 16 is also known as artisan ice cream, italian ice cream, and gelato.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">Production:&#160;100/120 liters/h, with water condensation, up to 12 liters per cycle.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">*Production depends on the climatic conditions of the location where the machine is installed.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">Energy saving:&#160; The dasher system is designed to work continuously, avoiding motor restart between each ice cream extraction. This procedure saves 20% energy compared to equipment with traditional dashers.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">Front inlet for ingredients:&#160; A funnel with hydrodynamic format avoids mixture accumulation and it is easy to operate.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">Protection grid:&#160; Inlet/outlet designed exclusive for fruits and solid ingredients; has a wide exit for very fast ice cream extraction.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">Ergonomics:&#160; Comfortable height for easy operation; panel with a good visual inclination and side handles; easy to operate and move from one place to another; container support with adjustable height, for containers up to 14 liters.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">Thermal bearings insulation:&#160; Increases the mechanical system’s durability.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">Cylinder:&#160; A high precision seamless tube with rounded edges allows a smooth flow of ice cream during the extraction process; easy to clean and 100% hygienic.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">Semi-continuous production:&#160; No need to disconnect the machine between each beat, increasing the production velocity and the the motor durability.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">Light and Durable:&#160; Easy to move, performs well under heavy operation.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">Safety and hygiene:&#160; The machine shuts off when the tilting frontal lid is accidentally opened. Lid easy to mount, dismount, and clean.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">No water drops in the ice cream:&#160; The insulated front plastic lid avoids cold loss and prevents the formation of water drops that may fall into the ice cream during extraction.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">Ice cream quality: soft and creamy, a triple dasher allows ice cream extraction between -3ºC (low consistency) and -11.0ºC (high consistency).</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">Flavor change: 6 small self-adjustable blades in a helical dasher guarantee complete ice cream extraction, leaving the Pro 16 ready to begin another flavor.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">Higher profitability and more time to manage your business:&#160; Has an electric display for temperature control and easier operation.&#160; It does not require a specialized operator.</span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">Easy maintenance: Self-adjusting dasher and quick cutting blades easily replaced by the operator.</span></span></span>
            </p>

            <p><span style="font-size: small; "><span style="font-family: Arial; ">&#160;</span></span></p>

            <p><span style="font-size: small; "><span style="font-family: Arial; "> </span></span></p>

            <div style="margin-bottom:15.0pt"><b><span style="color: rgb(49, 49, 49); ">Business purpose</span></b>
            </div>
            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">For&#160;small and medium vendors who already have some experience in this industry, or for professionals who want to&#160;increase their production&#160;with&#160;a high-quality final product, guaranteed by using a&#160;modern and 100%&#160;hygienic machine. </span></span></span>
            </p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">It is designed for ice cream&#160;producers that serve their product on site or commercially distribute their product in containers between&#160;7 to 12 liters.</span></span></span>
            </p>

            <p>&#160;</p>

            <p>&#160;</p>

            <p><span style="font-size: small; "><span style="font-family: Arial; "> </span></span></p>

            <p><span lang="EN-US" style="color: red; ">1- FOB Santos price USD $ 8.833</span></p>

            <p>
                <span style="font-size: small; "><span style="font-family: Arial; "><span style="color: red; text-indent: -18pt; ">2- (Without international freight). Valid until october 31st, 2012.</span></span></span>
            </p><br class="c"/>
        {% endblock %}
    </div>

    <div id="vantagens" class="tabContent" style="display: none;">
        <p><span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">1. The Pro 16 produces ice cream to be served on site, but also supports extra-production for ice cream distributed in containers to candy and other ice cream shops.</span></span></span>
        </p>

        <p><span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">2. With a relatively low investment, this system of ice cream production pays for itself in a short period of time.&#160;</span></span></span>
        </p>

        <p><span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">3. The ice cream quality is incomparable, because all of the high-end technology used in large machines is also applied in this machine, at reduced costs.</span></span></span>
        </p>

        <p><span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">4. It facilitates the production of real artisan ice cream, carefully done, with natural ingredients and the introduction of fruits, granules, chocolates etc.</span></span></span>
        </p>

        <p><span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">5. &#160;It allows small quantities of ice cream production per beat, very important for people that work with a variety of flavors.</span></span></span>
        </p>

        <p><span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">6. The ice cream is produced in few minutes, avoiding the formation of ice crystals and the undesirable “sandiness” caused by the traditional sluggish equipment.</span></span></span>
        </p>

        <p><span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">7. Previous knowledge about ice cream production is not required. Easy to operate, install,&#160;and transport.</span></span></span>
        </p>

        <p><span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">8. Maintenance can be done by a domestic refrigerator technician.</span></span></span>
        </p>

        <p><span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">9. The best production/time rate among equivalent conventional equipment.</span></span></span>
        </p>

        <p><span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">10. It uses the latest technology in artisan ice cream production.</span></span></span>
        </p>

        <p><span style="font-size: small; "><span style="font-family: Arial; "><span style="color: rgb(49, 49, 49); ">11. Ice cream made with Pro16 is guaranteed to be better: not only is it more hygienic, but also provides better texture, flavor, color, aeration, time of conservation, melting resistance, and others qualities easily noticed by finicky consumers.&#160;</span></span></span>
        </p><br class="c"/>
    </div>
    <div id="video" class="tabContent" style="display: none;">

        <br class="c"/>
    </div>
    <div id="view3d" class="tabContent" style="display: none;">
        <br class="c"/>
    </div>
    <div id="como-comprar" class="tabContent" style="display: none;">

        <br class="c"/>
    </div>
    <div id="dados-tecnicos" class="tabContent" style="display: none;">
        <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#dddddd">
            <tr>
                <td colspan="4"><strong>Technical Details</strong></td>
            </tr>
            <tr>
                <td width="25%" bgcolor="#FFFFFF">Consumption of electricity</td>
                <td bgcolor="#FFFFFF">4,8 kW.</td>
            </tr>
            <tr>
                <td width="25%" bgcolor="#FFFFFF">Electrical Installation</td>
                <td bgcolor="#FFFFFF">220 V - 380 V, Monophase - Biphase - Triphase, 60 Hz.</td>
            </tr>
            <tr>
                <td colspan="4"><strong>Dimensions</strong></td>
            </tr>
            <tr>
                <td width="25%" bgcolor="#FFFFFF">Crate dimensions</td>
                <td bgcolor="#FFFFFF">Length = 1050 mm, Width = 700 mm, Height = 1500 mm.</td>
            </tr>
            <tr>
                <td width="25%" bgcolor="#FFFFFF">Equipment Dimensions</td>
                <td bgcolor="#FFFFFF">Length = 720 mm, Width = 500 mm, Height = 1313 mm.</td>
            </tr>
            <tr>
                <td colspan="4"><strong>Weight</strong></td>
            </tr>
            <tr>
                <td width="25%" bgcolor="#FFFFFF">Gross Weight with crate</td>
                <td bgcolor="#FFFFFF">200 kg.</td>
            </tr>
            <tr>
                <td width="25%" bgcolor="#FFFFFF">Net Weight</td>
                <td bgcolor="#FFFFFF">160 kg.</td>
            </tr>
            <tr>
                <td colspan="4"><strong>Production</strong></td>
            </tr>
            <tr>
                <td width="25%" bgcolor="#FFFFFF">Production Capacity</td>
                <td bgcolor="#FFFFFF">Up to 126.8 quarts (120 liters) per hour.</td>
            </tr>
            <tr>
                <td width="25%" bgcolor="#FFFFFF">Condensation</td>
                <td bgcolor="#FFFFFF">Water.</td>
            </tr>
        </table>
        <br class="c"/>

        <p>
            &#160;<img alt="" src="{{ asset('/bundles/beregindex/images/contentFiles/image/galleries/produto-pro16/pro-16-dimensional.jpg') }}"/>
        </p><br class="c"/>
    </div>
    <div id="sugestao-de-uso" class="tabContent" style="display: none;">
        <p>1 Pro 16 + 1 Turbo 25. For aerated popsicles production.</p>

        <p>1 Pro 16 + 1 PP 220 or 1 PP110. For pasteurized ice cream production.</p>

        <p>From 1 to 3 Pro 16, for modular increase of the ice cream production.</p>

        <div>&#160;</div>
        <br class="c"/>
    </div>
    <div id="dicas" class="tabContent" style="display: none;">
        <p><span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">"ICE CREAM IS ONLY AS GOOD AS THE MACHINE THAT MAKES IT"</span></span></span>
        </p>

        <div style="margin-bottom:15.0pt">&#160;</div>
        <p><span style="font-family: Arial; "><span style="font-size: small; "> </span></span></p>

        <div style="margin-bottom:15.0pt"><b><span style="color: rgb(49, 49, 49); ">&#160;1st Tip: The cylinder.</span></b>
        </div>
        <p><span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">The cylinder in which the ice cream is beaten must have a thin wall to accelerate the freezing process, otherwise it becomes sandy. Thick cylinder walls is not an asset for an ice cream machine.</span></span></span>
        </p>

        <div style="margin-bottom:15.0pt">&#160;</div>
        <p><span style="font-family: Arial; "><span style="font-size: small; "> </span></span></p>

        <div style="margin-bottom:15.0pt"><b><span style="color: rgb(49, 49, 49); ">2nd Tip: The cold.</span></b></div>
        <p><span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">How does the cold get to where the ice cream is beaten? Are you aware that a "bain-marie" makes the best quality sweets?</span></span></span>
        </p>

        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">If the cooling gas directly touches the cylinder, your ice cream can be burnt, in the same way pudding is burnt when exposed to direct fire.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">The cylinder must be wrapped with thermal conductive copper tubing with a special layer of material to store the cold, same as the bottom of modern cooking pans or a traditional "bain-marie". Only Finamac Arpifrio uses this technology.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">&#160;</div>
        <p><span style="font-family: Arial; "><span style="font-size: small; "> </span></span></p>

        <div style="margin-bottom:15.0pt"><b><span style="color: rgb(49, 49, 49); ">3rd Tip: The beating.</span></b>
        </div>
        <p><span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">The ice cream beating has to follow some procedures, like baking a cake.</span></span></span>
        </p>

        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">If it was simple, it would be enough to use a domestic mixer before freezing. We know that this homemade technique does not produce high quality ice cream though.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">The beating has to be done at an appropriate speed, with special blades cutting the ice cream away from the cylinder wall, while freezing. On top of that, an exact amount of cold must be introduced at the precise time. The way the ice cream is beaten inside the cylinder is a technology that few companies have; this gives the product, once it incorporates air, a smoothness and lightness.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">&#160;</div>
        <p><span style="font-family: Arial; "><span style="font-size: small; "> </span></span></p>

        <div style="margin-bottom:15.0pt"><b><span style="color: rgb(49, 49, 49); ">4th Tip: Hygiene</span></b></div>
        <p><span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">Contamination, caused by ice cream machines that are not up to hygienic standards, can be harmful.</span></span></span>
        </p>

        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(221, 32, 103); ">Do not use any kind of stainless steel in contact with foods, nor any type of plastic. There are special plastics and stainless steel for each purpose.&#160;</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">Machines without rounded edges are difficult to wash and, furthermore, are dangerous. A well designed machine follows strict sanitary requirements.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">When evaluating how a Finamac machine is disassembled, you can see that every aspect has been carefully designed to easily operate. The cost of a contamination is much higher than you imagine.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">&#160;</div>
        <p><span style="font-family: Arial; "><span style="font-size: small; "> </span></span></p>

        <div style="margin-bottom:15.0pt"><b><span style="color: rgb(49, 49, 49); ">5th Tip: Equipment weight</span></b>
        </div>
        <p><span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">Is the cost of your machine proportional to its weight?</span></span></span>
        </p>

        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">150 kg gives you enough machine to produce ice cream.&#160; So, if your old machine weighs 500 kg, the rest is excess.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">Why would a manufacturer give you 350 kg extra material?</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">The answer is simple:&#160; It is cheaper to produce a machine using cheaper materials, such as iron, even if it weighs much more than special plastics or thin stainless steel.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">If lightness were a synonym for weakness, then airplanes would not be the safest type of transportation in the world.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">When selecting Finamac Arpifrio equipment, you are getting the most modern machines, made with aeronautic technology. They are lighter and more durable than their heavy iron competitors. After all, a machine does not have to be a locomotive!</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">What are the advantages?</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">Easy to move, for cleaning and changing locations.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">Any vehicle can easily haul the Pro 16.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">Easy to substitute parts.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">&#160;</div>
        <p><span style="font-family: Arial; "><span style="font-size: small; "> </span></span></p>

        <div style="margin-bottom:15.0pt"><b><span style="color: rgb(49, 49, 49); ">6th Tip: Safety.</span></b></div>
        <p><span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">For easy-handling you need safe equipment, and safety begins with a responsible design. Finamac Arpifrio is one of the few ice cream machine companies that follow international standards.</span></span></span>
        </p>

        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">Our safety measures include electric, mechanical, and operational protection.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">Operational failures occasionally occur.&#160; Finamac Arpifrio equipment is designed to be sufficiently intelligent in order to avoid damage and danger.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">Safety cover-lid: disconnects the equipment in case of accidental opening.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">Electric sensors for the equipment disconnection in case of overload.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">Groundings: to avoid shocks and short-circuits.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">Protection grids: to avoid objects being introduced while operating.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">&#160;</div>
        <p><span style="font-family: Arial; "><span style="font-size: small; "> </span></span></p>

        <div style="margin-bottom:15.0pt"><b><span style="color: rgb(49, 49, 49); ">7th Tip: Maintenance.</span></b>
        </div>
        <p><span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">How much does it cost to maintain your equipment?</span></span></span>
        </p>

        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">Many times we only pay attention to the initial cost of the machine, and forget to ask about replacement parts, technical assistance services, etc.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">That’s what frequently happens with a lot of products, especially among computer accessories such as ink jet printers, where the replacement parts exceed the price of the product.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">If your equipment is designed with hermetic components, easy to substitute, you will be free of unexpected maintenance costs. If it had been designed with a non-hermetic compressor, you would be subjected to specialized services and “surprise” prices. Hermetic and modular components receive the factory warranty and are free from manual</span><span style="color: rgb(168, 24, 75); "> intervention</span><span style="color: rgb(49, 49, 49); ">.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">All components used in Finamac Arpifrio equipment, including the structural parts, are modular and hermetic, allowing for easy replacement and modernization. You will not be stuck with an old machine, difficult to resale.&#160; It is not made with heavy iron, as is common in equipment from our competitors, that is inflexible and not compatible with emerging technology.</span></span></span>
        </div>
        <div style="margin-bottom:15.0pt">
            <span style="font-family: Arial; "><span style="font-size: small; "><span style="color: rgb(49, 49, 49); ">We use the most modern technology available, assuring low maintenance costs and high resale value.</span></span></span>
        </div>
        <br class="c"/>
    </div>
    <div id="compare" class="tabContent" style="display: none;">

        <br class="c"/>
    </div>
    <div id="kits" class="tabContent" style="display: none;">
        <ul class="mainprodlist"></ul>
        <br class="c"/>
    </div>
    <!--/tabcontent-->
    </div>
    <br class="c"/>
    </div>
    <!--/content-->
    <div class="footerContent">
        <ul class="lista3-col">
            <li>
                <h3 class="titlename top5">Specials and Releases </h3>

                <div>
                    <ol>
                        <li>
                            <h4><a href="/en/noticias/2012/04/227/kit-ice-cream-production">Kit Ice-cream
                                Production!</a>
                            </h4>

                            <p>The complete kit for your Ice-cream production!</p>
                        </li>
                        <li>
                            <h4>
                                <a href="/en/noticias/2012/04/224/gyrofiller-automatic-equipment-for-ice-cream-filling-and-packing">Gyrofiller
                                    - Automatic Equipment for ice cream filling and packing</a></h4>

                            <p>GYROFILLER - ROTARY MACHINE TO FILL, PACK AND LABEL ICE CREAM CONTAINERS</p>
                        </li>
                        <li>
                            <h4><a href="/en/noticias/2012/02/137/kit-200-start-your-own-business">Kit 200 - Start your
                                own business!</a></h4>

                            <p>Complete kit to star your own business!</p>
                        </li>
                        <li>
                            <h4><a href="/en/noticias/2012/01/131/kit-gelato">Kit Gelato</a></h4>

                            <p>Produce delicous italian Gelato with quality and lowest price!</p>
                        </li>
                    </ol>
                </div>
            </li>
            <li>
                <h3 class="titlename top5">Courses: ice cream and chocolate </h3>

                <div>
                    <ol>
                        <li>
                            <h4><a href="/en/cursos"><strong>10/11</strong>: Ice Cream Market </a></h4>
                            Aimed at new entrepreneurs who are just starting out...
                        </li>
                        <li>
                            <h4><a href="/en/cursos"><strong>12/11</strong>: Good Manufacturing Practices</a></h4>
                            &#160;&#160; Finamac is launching a new product, the...
                        </li>
                        <li>
                            <h4><a href="/en/cursos"><strong>19/11</strong>: Ice Cream Market </a></h4>
                            Aimed at new entrepreneurs who are just starting out...
                        </li>
                        <li>
                            <h4><a href="/en/cursos"><strong>21/11</strong>: Improvement</a></h4>
                            &#160;

                            Instructor Sandra Yazaki explores a...
                        </li>
                    </ol>
                </div>
            </li>
            <li class="ultima">
                <h3 class="titlename top5">News</h3>

                <div>
                    <ol>
                        <li>
                            <h4><a href="/en/noticias/2012/09/374/what-is-the-best-source-of-fat-for-ice-cream">What Is
                                The Best Source Of Fat For Ice Cream?</a></h4>

                            <p>There is no doubt that foods with higher levels of fat have higher rates...</p>
                        </li>
                        <li>
                            <h4><a href="/en/noticias/2012/09/372/preventive-maintenance">Preventive Maintenance</a>
                            </h4>

                            <p>Consider a car engine. From time to time we change the crankcase oil...</p>
                        </li>
                        <li>
                            <h4><a href="/en/noticias/2012/08/361/solar-powered-ice-cream-cart-is-a-success-in-holland">Solar
                                powered ice-cream cart is a success in Holland</a></h4>

                            <p>Did you know that there is an ice cream car that is solar powered?...</p>
                        </li>
                        <li>
                            <h4><a href="/en/noticias/2012/08/362/what-is-pasteurization">What is pasteurization?</a>
                            </h4>

                            <p>Created by a French scientist, Louis Pasteur, the pasteurization is...</p>
                        </li>
                    </ol>
                </div>
            </li>
        </ul>
        <br class="c"/>

        <div id="getBlog">
            <div id="footerSlider">
                <ul id="footerPics">
                    <li class="active">
                        <a href="http:www.finamac.com.br/en/produtos"><img src="{{ asset('/bundles/beregindex/images/contentFiles/image/galleries/footer-en/footer-familia-finamac-en.jpg') }}" width="820" height="349" border="0"/></a>
                    </li>
                    <li>
                        <a href="http:www.finamac.com.br/en/produtos/intermediario/maquina-sorvete-super-c2"><img src="{{ asset('/bundles/beregindex/images/contentFiles/image/galleries/footer-en/supercplus-en.jpg') }}" width="820" height="349" border="0"/></a>
                    </li>
                    <li>
                        <a href="http:www.finamac.com.br/en/produtos/industrial/maquina-sorvete-gyrofiller"><img src="{{ asset('/bundles/beregindex/images/contentFiles/image/galleries/footer-en/gyrofiller-banner-botton-en.jpg') }}" width="820" height="349" border="0"/></a>
                    </li>
                    <li>
                        <a href="http:www.finamac.com.br/en/produtos/industrial/maquina-sorvete-if-900"><img src="{{ asset('/bundles/beregindex/images/contentFiles/image/galleries/footer-en/footer-if900-en.jpg') }}" width="820" height="349" border="0"/></a>
                    </li>
                    <li>
                        <img src="{{ asset('/bundles/beregindex/images/contentFiles/image/galleries/footer-en/footer-suprema-br.jpg') }}" width="820" height="349" border="0"/>
                    </li>
                    <li>
                        <img src="{{ asset('/bundles/beregindex/images/contentFiles/image/galleries/footer-en/chocolate-modelagem4.jpg') }}" width="820" height="349" border="0"/>
                    </li>
                    <li>
                        <a href="http:www.finamac.com.br/en/produtos/chocolate/maquina-chocomachine"><img src="{{ asset('/bundles/beregindex/images/contentFiles/image/galleries/footer-en/banner-inferior-chocomachine-en.jpg') }}" width="820" height="349" border="0"/></a>
                    </li>
                    <li>
                        <a href="http:www.finamac.com.br/en/produtos/industrial/maquina-sorvete-titan-12"><img src="{{ asset('/bundles/beregindex/images/contentFiles/image/galleries/footer-en/banner-inferior-titan12-en.jpg') }}" width="820" height="349" border="0"/></a>
                    </li>
                    <li>
                        <a href="http:www.finamac.com.br/en/produtos/iniciante/maquina-sorvete-turbo-8"><img src="{{ asset('/bundles/beregindex/images/contentFiles/image/galleries/footer-en/banner-inferior-turbo8-en.jpg') }}" width="820" height="349" border="0"/></a>
                    </li>
                </ul>
                <ul id="footerpagination"></ul>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            footerPics = new customFadingSlider('#footerPics', {slideSpeed: 500, slideTimeout: 15000, objectInstance: 'footerPics', paginationList: '#footerpagination'});
        });
    </script>

    <br class="c"/>
    </div>
    <!--/content-820-->
    <div id="sidebar"><h3 class="titlename top5 sideAds"><span>Super C + IX600</span></h3>
        <a href="http:www.finamac.com.br/en/produtos/intermediario/maquina-sorvete-super-c"><img src="{{ asset('/bundles/beregindex/images/contentFiles/image/banner-lateral-supercix600-en.jpg') }}" width="160" height="592" alt="Super C + IX600"/></a>

        <div class="boxParceiro" style="margin-top: 17px;">
            <h3 class="titlename top5 sideAds">Turbo 25 Popsicle Machine</h3>
            <a href="http:www.finamac.com.br/en/produtos/intermediario/maquina-sorvete-turbo-25"><img src="{{ asset('/bundles/beregindex/images/contentFiles/image/banners/banners-160x160/turbo-25.jpg') }}" width="160" height="145" alt="Turbo 25 Popsicle Machine"/></a>
        </div>
        <div class="boxParceiro" style="margin-top: 15px; margin-bottom: 1px;">
            <h3 class="titlename top5 sideAds">Pro 18 Artisan Ice Cream</h3>
            <a href="http:www.finamac.com.br/en/produtos/intermediario/maquina-sorvete-pro-18"><img src="{{ asset('/bundles/beregindex/images/contentFiles/image/banners/banners-160x160/pro-18.jpg') }}" width="160" height="145" alt="Pro 18 Artisan Ice Cream"/></a>
        </div>
        <div class="boxParceiro" style="margin-top: 15px; margin-bottom: 1px;">
            <h3 class="titlename top5 sideAds">TS 40 Ice Cream Mix Preparation</h3>
            <a href="http:www.finamac.com.br/en/produtos/intermediario/maquina-sorvete-ts-40"><img src="{{ asset('/bundles/beregindex/images/contentFiles/image/banners/banners-160x160/ts-40.jpg') }}" width="160" height="145" alt="TS 40 Ice Cream Mix Preparation"/></a>
        </div>
        <div class="boxParceiro" style="margin-top: 15px; margin-bottom: 1px;">
            <h3 class="titlename top5 sideAds">Super C2 Two Ice Cream Flavors</h3>
            <a href="http:www.finamac.com.br/en/produtos/intermediario/maquina-sorvete-super-c2-sep-2011"><img src="{{ asset('/bundles/beregindex/images/contentFiles/image/banners/banners-160x160/super-c2.jpg') }}" width="160" height="145" alt="Super C2 Two Ice Cream Flavors"/></a>
        </div>
    </div>
    <br class="c"/>
    </div>
    <div id="footer">
        <div class="wrapper">
            <ul id="sociais">
                <li class="yt"><a href="http:vimeo.com/3019875?ab" target="_blank">Vimeo</a></li>
                <li class="rss"><a href="/en/rss">Feeds</a></li>
                <li class="tw"><a href="http:twitter.com/FinamacArpifrio" target="_blank">Twitter</a></li>
                <li class="fb"><a href="http:www.facebook.com/FinamacArpifrio" target="_blank">Facebook</a></li>
                <li class="you"><a href="http:www.youtube.com/user/Finamac" target="_blank">Youtube</a></li>
                <!--
                <li class="okt"><a href="http:www.orkut.com" target="_blank">Orkut</a></li>
                <li class="in"><a href="http:www.linkedin.com/profile/edit?trk=hb_tab_pro_top" target="_blank">linked-in</a></li>
                -->
            </ul>
            <br class="c"/>

            <div class="links">
                <h3><a href="/en/sobre">Company</a></h3>
                <ol>
                    <li><a href="/en/sobre/historia">History</a></li>
                    <li><a href="/en/sobre/missao">Mission</a></li>
                    <li><a href="/en/sobre/tecnologia">Technology</a></li>
                    <li><a href="/en/sobre/como-chegar">Location</a></li>
                    <li><a href="/en/sobre/parceiros">Partners</a></li>
                </ol>
                <h3><a href="/en/videos">Videos</a></h3>
            </div>
            <div class="links">
                <h3><a href="/en/produtos">Products</a></h3>
                <ol>
                    <li><a href="/en/produtos/iniciante">Beginners</a></li>
                    <li><a href="/en/produtos/intermediario">Intermediates</a></li>
                    <li><a href="/en/produtos/industrial">Industrial</a></li>
                    <li><a href="/en/produtos/gelateria">Gelateria</a></li>
                    <li><a href="/en/produtos/chocolate">Chocolate</a></li>
                    <li><a href="http:www.finamac.com.br/catalogo/" target="_blank">Catalog</a></li>
                </ol>
                <h3><a href="/en/noticias">News</a></h3>
            </div>
            <div class="links">
                <h3><a href="/en/assistencia">Technical Support</a></h3>
                <ol>
                    <li><a href="/en/assistencia/localiza">Find a technician</a></li>
                    <li><a href="/en/assistencia/contato">Technical consult</a></li>
                    <li><a href="/en/assistencia/treinamento">Train your technician</a></li>
                    <li><a href="/en/assistencia/credenciamento">Accreditation</a></li>
                </ol>
                <h3><a href="/en/cursos">Courses</a></h3>
            </div>
            <div class="links">
                <h3><a href="/en/faq">Frequent Asked Questions</a></h3>
                <ol>
                    <li><a href="/en/faq/duvidas-gerais">General Doubts</a></li>
                    <li><a href="/en/faq/como-comprar">Ordering</a></li>
                    <li><a href="/en/faq/pos-venda">After Sales</a></li>
                </ol>
            </div>
            <div class="links">
                <h3><a href="/en/atendimento">Contact</a></h3>
                <ol>
                    <li><a href="/en/atendimento/consulta-produtos">Consult our products</a></li>
                    <li><a href="/en/atendimento/contato">Suggestions or complaints</a></li>
                    <li><a href="/en/atendimento/trabalhe-conosco">Work with us</a></li>
                </ol>
            </div>
            <div class="links">
                <h3><a href="/en/pesquisa-desenvolvimento">Research and Development</a></h3>
                <ol>
                    <li><a href="/en/pesquisa-desenvolvimento/objetivos">Objectives</a></li>
                    <li><a href="/en/pesquisa-desenvolvimento/areas">Areas</a></li>
                    <li><a href="/en/pesquisa-desenvolvimento/parcerias">Partnerships</a></li>
                    <li><a href="/en/pesquisa-desenvolvimento/projetos">Projects</a></li>
                </ol>
            </div>
            <br class="c"/>

            <div class="copyNotice">&copy; 2012 Av. Áurea, 514 - Santo André - SP - Brasil | BR: +55 11 2135-6500</div>
            <br class="c"/>
        </div>
    </div>
{% endblock %}
